@import 'libs/font';
@import 'libs/bootstrap-reboot.min';
@import 'blocks/header';
@import 'blocks/banners';
@import 'blocks/categories';
@import 'blocks/product';
@import 'blocks/footer';
@import 'blocks/popup';
@import 'base/media';


* {
    font-family: 'HelveticaNeue', sans-serif;
    box-sizing: border-box;
}
.container {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}